
/*----------Estilos base----------*/

.container
{
    width: 90%;
    border-radius: 1.5rem;
}

/*----------Titulos y textos----------*/

.column__txt
{
    font-size: 1.5rem;
}

.group__title
{
    font-size: 2.6rem;
}

.column__title
{
    font-size: 2.4rem;
}


.btn
{
    font-size: 1.5rem;
}


/*----------Estilos header----------*/

.logo
{
    font-size: 4rem;
}

.banner
{
    margin-top: -18rem;
}
.banner__img
{
    height: 70rem;
}

.main-header__contactInfo__address, .main-header__contactInfo__phone
{
    font-size: 1.5rem;
}

.main-nav
{
    padding: 0;
}

.banner__content
{
    font-size: 3.6rem;
}

    /*Quitamos el icono de menu*/

.icon-menu
{
    display: none;
}

.menu
{
    position: static;
    display: flex;
    height: auto;
    width: auto;
}

.menu__link
{
    padding: 2rem;
    font-size: 1.5rem;
}

/*---------Inicio---------*/

.group--color 
{
    margin-top: 3rem 0;
    padding: 2rem;
}

.today-special__title
{
    font-size: 1.8rem;
}

.today-special__price
{
    font-size: 1.9rem;
}

/*----------Galeria------------*/

.gallery .column--50-25
{
    width: 24%;
}

/*----------Footer----------*/

.copy
{
    font-size: 1.6rem;
}


.main-footer
{
    padding: 3rem 0;
}
