.gallery
{
    margin-bottom: 2rem;
}
.gallery__img
{
    object-fit: cover;
    margin: 0.5rem 0;
    cursor: pointer;
    transition: all 0.1s;
    padding: 1rem 2.5rem;
    border-radius: 5rem;
}

.gallery__img:hover
{
    transform: scale(1.1);
}

.gallery__img--small
{
    height: 20rem;

}

.gallery__img--big
{
    height: 40rem;
}

/*ocultar modal*/

.modal__img
{
    display: none;
}

.modal__boton
{
    display: none;
}
