.contact-information
{
    padding: 1rem;
    margin: 0.5rem;
    border-bottom:  0.1rem solid #de423a;
}

.contact-information .social-icon
{
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.social-icon .fab, .social-icon .fas
{
    background: black;
    color: white;
    margin: 0 1.5rem 0 0;
}

.formulario
{
    padding: 1rem;
}

.formulario__label, .formulario__input, .formulario__textarea
{
    display: block;
    width: 100%;
}

.formulario__input
{
    padding: 1rem;
    margin-bottom: 1rem;
}

.formulario__textarea
{
    min-height: 10rem;
    min-width: 100%;
    max-height: 10rem;
    max-width: 100%;
}





