/* html
{
    font-size: 62.5%;
}  */

/*---------Estilos principales------------*/

.food_1
{
    padding: 0.5rem;
    border-radius: 1rem;
}


    /*pueder pasarse a otro archivo css*/



.today-special .column
{
    margin-bottom: 3rem;
    text-align: center;
}

.today-special__img
{
    max-height: 20rem;
    object-fit: cover;
}

.today-special__title
{
    font-size: 1.4rem;
    padding: 1rem 0 2rem 0;
}

.today-special__price
{
    font-size: 1.5rem;
    color: var(--orange);
    font-weight: bold;
}



