.our-team__img
{
    width: 30rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 50%;
    margin: 2rem auto;
    border: 0.5rem solid #ddd;
    padding: 0.5rem;
}

.our-team .column__title
{
    color: var(--orange);
}

.our-team .column__txt
{
    text-align: center;
    padding: 0 1rem;
}
