/*----------Reiniciar los estilos del browser----------*/

*
{
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
} 

body
{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/*----------Tipografias----------*/

@font-face 
{
    font-family: "Pacifico";
    src: url(../assets/font/Pacifico-Regular.ttf);
}

@font-face 
{
    font-family: "Montserrat";
    src: url(../assets/font/Montserrat-Regular.ttf);
}

@font-face 
{
    font-family: "Montserrat";
    font-weight: bold;
    src: url(../assets/font/Montserrat-Bold.ttf);
}

/*----------Declarar variables----------*/
:root
{
--orange: #de423a;
--white: white;
--black: black;
}

/*----------Titulos y textos----------*/

h1,h2,h3,h4,h5,h6
{
    margin: 0;
    font-family: 'Pacifico', cursive;
}

.column__title
{
    font-size: 1.6rem;
    text-align: center;
}

.column__txt
{
    font-size: 1.1rem;
}

.group__title
{
    text-align: center;
    font-weight: 100;
    font-size: 1.8rem;
    margin: 3rem;
}


.btn
{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 12rem;
    background: var(--orange);
    color: var(--white);
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}

/*----------Estilos base----------*/

img
{
    display: block;
    padding: 0 0.5rem;
    width: 100%;
    max-width: 100%;
    border-radius: 1rem;
}


.container
{
    width: 100%;
    margin: auto;
}

.container--flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.column
{
    width: 100%;
}


/*----------Estilos header----------*/

.main-header
{
    width: 100%;
}

.logo
{
    font-size: 3rem;
    color: var(--orange);
    font-weight: 100;
    text-align: center;
}

.main-header__contactInfo__phone
{
    background: var(--orange);
    color: var(--white);
    margin: 0 auto;
    padding: 1rem;
    font-size: 1.1rem;
}

.main-header__contactInfo__address
{
    margin: 0 auto;
    padding: 1rem;
    font-size: 1.1rem;
}

/*----------Estilos menu----------*/

.main-nav
{
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 1rem;
}

.icon-menu
{
    display: block;
    color: var(--white);
    border: 0.1rem solid var(--white);
    border-radius: 0.3rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    cursor: pointer;
    font-size: 1.8rem;
}

.social-icon
{
    display: flex;
    justify-content: space-between;
}

.social-icon  i
{
    color: black;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    background: var(--white);
    border-radius: 50%;
}

.social-icon__link
{
    text-decoration: none;
}

.menu
{
    /*display none es para ocultar el menu temporalmente*/
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.85);
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    /*para animar el menu*/
    height: 0;
    overflow: hidden;
    /*animar despligue de menu*/
    transition: height 0.3s linear;
}

.menu__link
{
    display: block;
    padding: 1.5rem;
    color: var(--white);
    text-decoration: none;
    font-size: 1.1rem;
}

.menu__link:hover
{
    background: var(--orange);
}

.menu__link--select
{
    background: var(--orange);
}

.mostrar
{
    /*Es importante que sea y un numero para que pueda animarse*/
    height: 19.6rem;
}

/*----------Estilos banner----------*/

.banner
{
    margin-top: -5.5rem;
    position: relative;
}
    /*Poner de color obscuro el banner*/
.banner::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
    top: 0;
}

.banner__img
{
    width: 100%;
    height: 50rem;
    object-fit: cover;
    padding: 0;
    border-radius: 0;
}

.banner__content
{
    width: 90%;
    color: var(--white);
    text-align: center;
    position: absolute;
    z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 2.4rem;
    font-weight: bold;
}


.group--color .container
{
    background: var(--orange);
    color: var(--white);
    padding: 1rem;
    text-align: center;
}



.main__about__description .column:nth-child(2)
{
    padding: 1rem;
}

/*----------Estilos del footer----------*/

.main-footer
{
    background: #222;
    color: var(--white);
    padding: 2rem 1rem;
    font-size: 1rem;
}

.copy
{
    text-align: center;
    margin: 1.5rem auto;
    font-size: 1.2rem;
}

.copy a
{
    color: var(--white);
    text-decoration: none;
}

.copy a:hover
{
    font-family: 'Pacifico', cursive;
}
